:root{//定義・宣言
  --backgroundcolor: black;
  --maincolor: white;
  --margin: 1.5%;
  --padding: 1.5%;
  --cardradius: 10%;
  --mydeckcards: 15;//プレイヤーデッキカード枚数
  --enedeckcards: 15;//敵デッキカード枚数
}
*{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--maincolor);
  font-family: 'Noto Sans JP', sans-serif;
}


body {//全体設定
  width: 100%;
  height: 62.5vw;
  max-height: 100%;
  max-width: 160vh;
  background: var(--backgroundcolor);
  background-size: 100% 100%;
  margin: auto;
  #areacol {
    font-size: 2vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("images/background-digital.jpg");
      background-size: 100% 100%;
      filter: grayscale(60%);
    }
  }
}


#myarea{//左エリア
  display: grid;
  grid-template-rows: 10% 1fr 17%;
  #option{
    width: auto;
    height: auto;
    margin: 0 var(--margin) var(--margin) 0;
    padding: var(--padding);
    display: grid;
  }

  #myeffects{
    width: auto;
    height: auto;
    margin: var(--margin) var(--margin) 0 0;
    border: 0.5px var(--maincolor) solid;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: "times effects" "contents contents";
    .timestabs{//timesタブのスタイル
      border: 0.5px var(--maincolor) solid;
      text-align: center;
      &::before{
        content: 'times';
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .effectstabs{//effectsタブのスタイル
      border: 0.5px var(--maincolor) solid;
      text-align: center;
      &::before{
        content: 'effects';
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    // .tabs:hover{
      
    // }
    input[name='mytabs']{//ラジオボタン消去
      display: none;
    }
    .tabscontent{//非表示
      grid-area: contents;
      display: none;
      padding: var(--padding);
      clear: both;
      overflow: hidden;
    }
    #mytimes:checked ~ #mytimescontent,
    #myeffects:checked ~ #myeffectscontent{//選択中のみ表示
      display: block;
    }
    input:checked + .timestabs,
    input:checked + .effectstabs{//選択中のスタイル
      border-bottom: none;
    }
  }

  #mydata{
    width: auto;
    height: auto;
    margin: 0 var(--margin) 0 0;
    padding: var(--padding);
    border: 0.5px var(--maincolor) solid;
    box-sizing: border-box;
    p{
      height: 1em;
      border: 0;
    }
  }
}


#mainarea{//中央エリア
  display: grid;
  grid-template-rows: 10% 4% 1fr 4% 20%;
  #enedeck{
    width: auto;
    height: auto;
    margin: 0 var(--margin) var(--margin) var(--margin);
    display: grid;
    grid-template-columns: repeat(var(--enedeckcards), calc(100%/var(--enedeckcards)));
    .enecard{
      width: 130%;
      border-radius: 0 0 var(--cardradius) var(--cardradius);
      background-color: rgb(100,100,100);
      border: 0.5px var(--maincolor) solid;
      box-sizing: border-box;
    }
    #enecard05{
      background-color: greenyellow;
    }
  }

  #log{
    width: auto;
    height: auto;
    margin: var(--margin);
    padding: var(--padding);
    border: 0.5px var(--maincolor) solid;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    #mylog{
      width: 50%;
      height: auto;
      position: absolute;
    }
    #enelog{
      width: 50%;
      height: auto;
      position: absolute;
      transform: translateX(100%);
    }
    #commonlog{
      height: auto;
      position: absolute;
    }
  }

  #mydeck{
    width: auto;
    height: auto;
    margin: var(--margin) var(--margin) 0 var(--margin);
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(var(--mydeckcards), 10%);
    .mycard{
      width: 150%;
      border-radius: var(--cardradius) var(--cardradius) 0 0;
      background-color: rgb(100,100,100);
      border: 0.5px var(--maincolor) solid;
      box-sizing: border-box;
    }
    #mycard03{
      background-color: aqua;
    }
  }
}


#enearea{//右エリア
  display: grid;
  grid-template-rows: 17% 1fr 20%;
  #enedata{
    width: auto;
    height: auto;
    margin: 0 0 0 var(--margin);
    padding: var(--padding);
    border: 0.5px var(--maincolor) solid;
    box-sizing: border-box;
    p{
      height: 1em;
      border: 0;
    }
  }

  #eneeffects{
    width: auto;
    height: auto;
    margin: 0 0 var(--margin) var(--margin);
    border: 0.5px var(--maincolor) solid;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12% 1fr;
    grid-template-areas: "times effects" "contents contents";
    .timestabs{//timesタブのスタイル
      border: 0.5px var(--maincolor) solid;
      text-align: center;
      &::before{
        content: 'times';
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .effectstabs{//effectsタブのスタイル
      border: 0.5px var(--maincolor) solid;
      text-align: center;
      &::before{
        content: 'effects';
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    // .tabs:hover{
      
    // }
    input[name='enetabs']{//ラジオボタン消去
      display: none;
    }
    .tabscontent{//非表示
      grid-area: contents;
      display: none;
      padding: var(--padding);
      clear: both;
      overflow: hidden;
    }
    #enetimes:checked ~ #enetimescontent,
    #eneeffects:checked ~ #eneeffectscontent{//選択中のみ表示
      display: block;
    }
    input:checked + .timestabs,
    input:checked + .effectstabs{//選択中のスタイル
      border-bottom: none;
    }
  }

  #playarea{
    display: grid;
    grid-template-columns: 1fr 65%;
    #cparea{
      padding: var(--padding);
      text-align: center;
      font-size: 4vw;
    }
    #playbutton{
      width: auto;
      height: auto;
      margin: var(--margin);
      padding: var(--padding);
      border-radius: 50%;
      background-color: red;
      border: 5px var(--maincolor) solid;
      box-sizing: border-box;
      text-align: center;
      font-size: 4vw;
      &::before{
        content: 'play';
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}


#myeffects, #mydata, #log, #enedata, #eneeffects{//ログ背景黒転
  background: var(--backgroundcolor);
}