:root {
  --backgroundcolor: black;
  --maincolor: white;
  --margin: 1.5%;
  --padding: 1.5%;
  --cardradius: 10%;
  --mydeckcards: 15;
  --enedeckcards: 15;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--maincolor);
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  width: 100%;
  height: 62.5vw;
  max-height: 100%;
  max-width: 160vh;
  background: var(--backgroundcolor);
  background-size: 100% 100%;
  margin: auto;
}

body #areacol {
  font-size: 2vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 20%;
      grid-template-columns: 20% 1fr 20%;
}

body #areacol::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/background-digital.jpg");
  background-size: 100% 100%;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

#myarea {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 1fr 17%;
      grid-template-rows: 10% 1fr 17%;
}

#myarea #option {
  width: auto;
  height: auto;
  margin: 0 var(--margin) var(--margin) 0;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
}

#myarea #myeffects {
  width: auto;
  height: auto;
  margin: var(--margin) var(--margin) 0 0;
  border: 0.5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 10% 1fr;
      grid-template-rows: 10% 1fr;
      grid-template-areas: "times effects" "contents contents";
}

#myarea #myeffects .timestabs {
  border: 0.5px var(--maincolor) solid;
  text-align: center;
}

#myarea #myeffects .timestabs::before {
  content: 'times';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#myarea #myeffects .effectstabs {
  border: 0.5px var(--maincolor) solid;
  text-align: center;
}

#myarea #myeffects .effectstabs::before {
  content: 'effects';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#myarea #myeffects input[name='mytabs'] {
  display: none;
}

#myarea #myeffects .tabscontent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contents;
  display: none;
  padding: var(--padding);
  clear: both;
  overflow: hidden;
}

#myarea #myeffects #mytimes:checked ~ #mytimescontent,
#myarea #myeffects #myeffects:checked ~ #myeffectscontent {
  display: block;
}

#myarea #myeffects input:checked + .timestabs,
#myarea #myeffects input:checked + .effectstabs {
  border-bottom: none;
}

#myarea #mydata {
  width: auto;
  height: auto;
  margin: 0 var(--margin) 0 0;
  padding: var(--padding);
  border: 0.5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#myarea #mydata p {
  height: 1em;
  border: 0;
}

#mainarea {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 4% 1fr 4% 20%;
      grid-template-rows: 10% 4% 1fr 4% 20%;
}

#mainarea #enedeck {
  width: auto;
  height: auto;
  margin: 0 var(--margin) var(--margin) var(--margin);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100%/var(--enedeckcards)))[var];
      grid-template-columns: repeat(var(--enedeckcards), calc(100%/var(--enedeckcards)));
}

#mainarea #enedeck .enecard {
  width: 130%;
  border-radius: 0 0 var(--cardradius) var(--cardradius);
  background-color: #646464;
  border: 0.5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainarea #enedeck #enecard05 {
  background-color: greenyellow;
}

#mainarea #log {
  width: auto;
  height: auto;
  margin: var(--margin);
  padding: var(--padding);
  border: 0.5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

#mainarea #log #mylog {
  width: 50%;
  height: auto;
  position: absolute;
}

#mainarea #log #enelog {
  width: 50%;
  height: auto;
  position: absolute;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#mainarea #log #commonlog {
  height: auto;
  position: absolute;
}

#mainarea #mydeck {
  width: auto;
  height: auto;
  margin: var(--margin) var(--margin) 0 var(--margin);
  overflow-x: scroll;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[var];
      grid-template-columns: repeat(var(--mydeckcards), 10%);
}

#mainarea #mydeck .mycard {
  width: 150%;
  border-radius: var(--cardradius) var(--cardradius) 0 0;
  background-color: #646464;
  border: 0.5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainarea #mydeck #mycard03 {
  background-color: aqua;
}

#enearea {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 17% 1fr 20%;
      grid-template-rows: 17% 1fr 20%;
}

#enearea #enedata {
  width: auto;
  height: auto;
  margin: 0 0 0 var(--margin);
  padding: var(--padding);
  border: 0.5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#enearea #enedata p {
  height: 1em;
  border: 0;
}

#enearea #eneeffects {
  width: auto;
  height: auto;
  margin: 0 0 var(--margin) var(--margin);
  border: 0.5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 12% 1fr;
      grid-template-rows: 12% 1fr;
      grid-template-areas: "times effects" "contents contents";
}

#enearea #eneeffects .timestabs {
  border: 0.5px var(--maincolor) solid;
  text-align: center;
}

#enearea #eneeffects .timestabs::before {
  content: 'times';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#enearea #eneeffects .effectstabs {
  border: 0.5px var(--maincolor) solid;
  text-align: center;
}

#enearea #eneeffects .effectstabs::before {
  content: 'effects';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#enearea #eneeffects input[name='enetabs'] {
  display: none;
}

#enearea #eneeffects .tabscontent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contents;
  display: none;
  padding: var(--padding);
  clear: both;
  overflow: hidden;
}

#enearea #eneeffects #enetimes:checked ~ #enetimescontent,
#enearea #eneeffects #eneeffects:checked ~ #eneeffectscontent {
  display: block;
}

#enearea #eneeffects input:checked + .timestabs,
#enearea #eneeffects input:checked + .effectstabs {
  border-bottom: none;
}

#enearea #playarea {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 65%;
      grid-template-columns: 1fr 65%;
}

#enearea #playarea #cparea {
  padding: var(--padding);
  text-align: center;
  font-size: 4vw;
}

#enearea #playarea #playbutton {
  width: auto;
  height: auto;
  margin: var(--margin);
  padding: var(--padding);
  border-radius: 50%;
  background-color: red;
  border: 5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 4vw;
}

#enearea #playarea #playbutton::before {
  content: 'play';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#myeffects, #mydata, #log, #enedata, #eneeffects {
  background: var(--backgroundcolor);
}
/*# sourceMappingURL=css.css.map */