:root {
  --backgroundcolor: black;
  --maincolor: white;
  --margin: 1.5%;
  --padding: 1.5%;
  --cardradius: 10%;
  --mydeckcards: 15;
  --oppdeckcards: 15;
  --mynowhp: 56789;
  --oppnowhp: 34567;
  --hpcolor1: rgb(255, 0, 0);
  --hpcolor2: rgb(255, 100, 0);
  --hpcolor3: rgb(255, 200, 0);
  --hpcolor4: rgb(255, 255, 0);
  --hpcolor5: rgb(100, 255, 100);
  --hpcolor6: rgb(0, 255, 255);
  --hpcolor7: rgb(0, 100, 255);
  --hpcolor8: rgb(100, 50, 150);
  --hpcolor9: rgb(200, 200, 200);
  --hpcolor10: rgb(100, 100, 100);
  --hpcolor11: rgb(50, 50, 50);
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--maincolor);
  font-family: serif;
  font-weight: bolder;
  font-size: 2vw;
}

body {
  width: 100%;
  height: 62.5vw;
  min-height: calc(3vw / 8);
  max-height: 100%;
  max-width: 160vh;
  background: var(--backgroundcolor);
  background-size: 100% 100%;
  margin: auto;
}

body #areacol {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 20%;
      grid-template-columns: 20% 1fr 20%;
}

body #areacol::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/background-digital.jpg");
  background-size: 100% 100%;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

#myarea {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 1fr 17%;
      grid-template-rows: 10% 1fr 17%;
}

#myarea #option {
  width: auto;
  height: auto;
  margin: 0 var(--margin) var(--margin) 0;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
}

#myarea #mystatus {
  width: auto;
  height: auto;
  margin: var(--margin) var(--margin) 0 0;
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 10% 1fr;
      grid-template-rows: 10% 1fr;
      grid-template-areas: "times effects" "contents contents";
}

#myarea #mystatus .timestabs {
  border: 1px var(--maincolor) solid;
  text-align: center;
}

#myarea #mystatus .timestabs::before {
  content: 'times';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#myarea #mystatus .effectstabs {
  border: 1px var(--maincolor) solid;
  text-align: center;
}

#myarea #mystatus .effectstabs::before {
  content: 'effects';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#myarea #mystatus input[name='mytabs'] {
  display: none;
}

#myarea #mystatus .tabscontent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contents;
  width: auto;
  height: auto;
  padding: var(--padding);
  display: none;
  clear: both;
  overflow: hidden;
}

#myarea #mystatus #mytimes:checked ~ #mytimescontent,
#myarea #mystatus #myeffects:checked ~ #myeffectscontent {
  display: block;
}

#myarea #mystatus input:checked + .timestabs,
#myarea #mystatus input:checked + .effectstabs {
  border-bottom: none;
}

#myarea #mydata {
  width: auto;
  height: auto;
  margin: 0 var(--margin) 0 0;
  padding: var(--padding);
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#myarea #mydata p {
  height: 1em;
  border: 0;
}

#mainarea {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 4% 1fr 4% 20%;
      grid-template-rows: 10% 4% 1fr 4% 20%;
}

#mainarea #oppdeck {
  width: auto;
  height: auto;
  margin: 0 var(--margin) var(--margin) var(--margin);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / var(--oppdeckcards)))[var];
      grid-template-columns: repeat(var(--oppdeckcards), calc(100% / var(--oppdeckcards)));
}

#mainarea #oppdeck .oppcard {
  width: 130%;
  border-radius: 0 0 var(--cardradius) var(--cardradius);
  background-color: #646464;
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainarea #oppdeck #oppcard05 {
  background-color: greenyellow;
}

#mainarea #opphp {
  width: auto;
  margin: 0 var(--margin) 0 var(--margin);
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainarea #opphp div {
  position: absolute;
}

#mainarea #opphp #opphpbar1 {
  width: calc(0.01% * (var(--oppnowhp) - 0));
  max-width: 100%;
  background-color: var(--hpcolor1);
}

#mainarea #opphp #opphpbar2 {
  width: calc(0.01% * (var(--oppnowhp) - 10000));
  max-width: 100%;
  background-color: var(--hpcolor2);
}

#mainarea #opphp #opphpbar3 {
  width: calc(0.01% * (var(--oppnowhp) - 20000));
  max-width: 100%;
  background-color: var(--hpcolor3);
}

#mainarea #opphp #opphpbar4 {
  width: calc(0.01% * (var(--oppnowhp) - 30000));
  max-width: 100%;
  background-color: var(--hpcolor4);
}

#mainarea #opphp #opphpbar5 {
  width: calc(0.01% * (var(--oppnowhp) - 40000));
  max-width: 100%;
  background-color: var(--hpcolor5);
}

#mainarea #opphp #opphpbar6 {
  width: calc(0.01% * (var(--oppnowhp) - 50000));
  max-width: 100%;
  background-color: var(--hpcolor6);
}

#mainarea #opphp #opphpbar7 {
  width: calc(0.01% * (var(--oppnowhp) - 60000));
  max-width: 100%;
  background-color: var(--hpcolor7);
}

#mainarea #opphp #opphpbar8 {
  width: calc(0.01% * (var(--oppnowhp) - 70000));
  max-width: 100%;
  background-color: var(--hpcolor8);
}

#mainarea #opphp #opphpbar9 {
  width: calc(0.01% * (var(--oppnowhp) - 80000));
  max-width: 100%;
  background-color: var(--hpcolor9);
}

#mainarea #opphp #opphpbar10 {
  width: calc(0.01% * (var(--oppnowhp) - 90000));
  max-width: 100%;
  background-color: var(--hpcolor10);
}

#mainarea #opphp #opphpbar11 {
  width: calc(0.01% * (var(--oppnowhp) - 100000));
  max-width: 100%;
  background-color: var(--hpcolor11);
}

#mainarea #opphp #opphptext {
  color: black;
}

#mainarea #log {
  width: auto;
  height: auto;
  margin: var(--margin);
  padding: var(--padding);
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

#mainarea #log #mylog {
  width: 50%;
  height: auto;
  position: absolute;
}

#mainarea #log #opplog {
  width: 50%;
  height: auto;
  position: absolute;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#mainarea #log #commonlog {
  height: auto;
  position: absolute;
}

#mainarea #myhp {
  width: auto;
  margin: 0 var(--margin) 0 var(--margin);
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainarea #myhp div {
  position: absolute;
}

#mainarea #myhp #myhpbar1 {
  width: calc(0.01% * (var(--mynowhp) - 0));
  max-width: 100%;
  background-color: var(--hpcolor1);
}

#mainarea #myhp #myhpbar2 {
  width: calc(0.01% * (var(--mynowhp) - 10000));
  max-width: 100%;
  background-color: var(--hpcolor2);
}

#mainarea #myhp #myhpbar3 {
  width: calc(0.01% * (var(--mynowhp) - 20000));
  max-width: 100%;
  background-color: var(--hpcolor3);
}

#mainarea #myhp #myhpbar4 {
  width: calc(0.01% * (var(--mynowhp) - 30000));
  max-width: 100%;
  background-color: var(--hpcolor4);
}

#mainarea #myhp #myhpbar5 {
  width: calc(0.01% * (var(--mynowhp) - 40000));
  max-width: 100%;
  background-color: var(--hpcolor5);
}

#mainarea #myhp #myhpbar6 {
  width: calc(0.01% * (var(--mynowhp) - 50000));
  max-width: 100%;
  background-color: var(--hpcolor6);
}

#mainarea #myhp #myhpbar7 {
  width: calc(0.01% * (var(--mynowhp) - 60000));
  max-width: 100%;
  background-color: var(--hpcolor7);
}

#mainarea #myhp #myhpbar8 {
  width: calc(0.01% * (var(--mynowhp) - 70000));
  max-width: 100%;
  background-color: var(--hpcolor8);
}

#mainarea #myhp #myhpbar9 {
  width: calc(0.01% * (var(--mynowhp) - 80000));
  max-width: 100%;
  background-color: var(--hpcolor9);
}

#mainarea #myhp #myhpbar10 {
  width: calc(0.01% * (var(--mynowhp) - 90000));
  max-width: 100%;
  background-color: var(--hpcolor10);
}

#mainarea #myhp #myhpbar11 {
  width: calc(0.01% * (var(--mynowhp) - 100000));
  max-width: 100%;
  background-color: var(--hpcolor11);
}

#mainarea #myhp #myhptext {
  color: black;
}

#mainarea #mydeck {
  width: auto;
  height: auto;
  margin: var(--margin) var(--margin) 0 var(--margin);
  overflow-x: scroll;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)[var];
      grid-template-columns: repeat(var(--mydeckcards), 10%);
}

#mainarea #mydeck .mycard {
  width: 150%;
  border-radius: var(--cardradius) var(--cardradius) 0 0;
  background-color: #646464;
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainarea #mydeck .mycard:active {
  -webkit-filter: saturate(80%);
          filter: saturate(80%);
}

#mainarea #mydeck #mycard03 {
  background-color: orangered;
}

#opparea {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 17% 1fr 20%;
      grid-template-rows: 17% 1fr 20%;
}

#opparea #oppdata {
  width: auto;
  height: auto;
  margin: 0 0 0 var(--margin);
  padding: var(--padding);
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#opparea #oppdata p {
  height: 1em;
  border: 0;
}

#opparea #oppstatus {
  width: auto;
  height: auto;
  margin: 0 0 var(--margin) var(--margin);
  border: 1px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 12% 1fr;
      grid-template-rows: 12% 1fr;
      grid-template-areas: "times effects" "contents contents";
}

#opparea #oppstatus .timestabs {
  border: 1px var(--maincolor) solid;
  text-align: center;
}

#opparea #oppstatus .timestabs::before {
  content: 'times';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#opparea #oppstatus .effectstabs {
  border: 1px var(--maincolor) solid;
  text-align: center;
}

#opparea #oppstatus .effectstabs::before {
  content: 'effects';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#opparea #oppstatus input[name='opptabs'] {
  display: none;
}

#opparea #oppstatus .tabscontent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contents;
  width: auto;
  height: auto;
  padding: var(--padding);
  display: none;
  clear: both;
  overflow: hidden;
}

#opparea #oppstatus #opptimes:checked ~ #opptimescontent,
#opparea #oppstatus #oppeffects:checked ~ #oppeffectscontent {
  display: block;
}

#opparea #oppstatus input:checked + .timestabs,
#opparea #oppstatus input:checked + .effectstabs {
  border-bottom: none;
}

#opparea #playarea {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 65%;
      grid-template-columns: 1fr 65%;
}

#opparea #playarea #cparea {
  padding: var(--padding);
  text-align: center;
  font-size: 2rem;
}

#opparea #playarea #playbutton {
  width: auto;
  height: auto;
  margin: var(--margin);
  padding: var(--padding);
  border-radius: 50%;
  background-color: orangered;
  border: 5px var(--maincolor) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
}

#opparea #playarea #playbutton::before {
  content: 'play';
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#opparea #playarea #playbutton:active {
  -webkit-filter: saturate(80%);
          filter: saturate(80%);
}

#mystatus, #mydata, #log, #oppdata, #oppstatus {
  background: var(--backgroundcolor);
}
/*# sourceMappingURL=css.css.map */